<div class="d-flex dc m-0" >
  <div class="w-25">
<ul class="nav  flex-column fc h bgcolor">
    <li class="nav-item ">
    <p class="nav-link  fs-3 mar h6 text-secondary" aria-current="page">Hello,Admin</p>
      </li>
    <li class="nav-item">
      <a class="nav-link mar h6 text-secondary activeclass" aria-current="page" href="/">Dashboard</a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link mar h6 text-secondary activeclass " href="/add/admin">Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mar h6 text-secondary activeclass" href="#">Logout</a>
    </li>
  </ul>
</div>